<footer>
    <br><br>
    <div class="container">
        <div class="row justify-content-md-center row align-items-center">
            <div class="col-md-auto">
                <img id="imgFooter" src="/images/mundial.png" alt="VerdeMenta">
              </div>
            <div class="col-md-auto">
                <h4 id="pfooter">Verde Menta - Cuadernos</h4>
            </div>            
        </div>
    </div>
    <br><br>
</footer>

